<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <div class="row" style="height: fit-content">
            <div class="col-lg-3">
                <div class="card" style="height:170px; ">
                    <div class="thumbnail" style="padding: 3px;height: 100%;"> 
                        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" style="height: 100%;">
                    </div>    
                </div>        
            </div>
        </div>
        <h1><%= user.username %></h1>
        <h4>city: <%= user.city%></h4>
        <h2>campgrounds created</h2><br>
        <% if( camps.length==0 ) { %>
            <h4>
                no campgrounds posted yet. 
            </h4> 
            <% } else { %>
            <%    camps.forEach((camp)=>{if(camp!=null){  %>
            <h3> <%= camp.name %> </h3>
            
            <% } } ) } %>    
   
    </div>
</div>


<%- include("../partials/footer") %>